/**
 * SMS Recruit site CSS
 * Author: Asika
 * Date: 2013
 * SMS Taiwan CO. LTD.
 */


// Variables
// -------------------------------------------------------------
@main-color: #FF7E02;

@logo-img : '../images/sms-logo.png' ;
@banner-img : '../images/header3.jpg' ;

// Global
// -------------------------------------------------------------
body {
    padding-top: 55px;
    background: #fafafa;
    
    font-family: '微軟正黑體', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family:  'Roboto', /*AdobeHeitiStd-Regular,*/ "LiHei Pro", "儷黑Pro", Helvetica, Arial, "Microsoft JhengHei", "微軟正黑體" ;
    font-weight: 300;
}

a {
    color: @main-color;
}

p {
    line-height: 180%;
}

// Layout
// -------------------------------------------------------------
.main {
    //max-width: 1000px;
    //margin: 0 auto;
}

.sr-container {
    padding: 65px 30px;
}

section article {
    padding: 30px 0;
}

.bg-white {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    background: white;
}


// Typo
// -------------------------------------------------------------
header .uk-article-lead {
    text-transform: uppercase;
    color: #666;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}


// Header
// -------------------------------------------------------------
#sr-header {
    background: white;
    width: 100%;
    height:55px;
    
    position: fixed ;
    top: 0;
    
    //box-shadow: 0 0 8px rgba(0,0,0,0.1);
    border-bottom: 1px solid #eee;
    
    z-index: 100;
}

h1#sr-logo {
    margin: 0;
    height: 42px;
    margin-top: 5px;
}

#sr-logo a {
    width: 117px;
    height: 42px;
    display: inline-block;
    background: url(@logo-img) no-repeat left top;
    
    text-indent: -9000px;
}


// Menu
// -------------------------------------------------------------
#sr-nav li a {
    line-height: 55px;
    height: 55px;
    
    font-family: 'Cuprum', sans-serif;
    text-transform: uppercase;
}

#sr-nav li a:hover {
    color: @main-color;
    background: transparent;
}

#sr-nav li.uk-active a {
    color: @main-color;
    border-bottom: 5px solid @main-color;
    margin-bottom: -1px;
    background: transparent;
    
    position: relative;
    height: 56px;
}


// Banner
// -------------------------------------------------------------
#sr-banner-inner {
    background: url(@banner-img) no-repeat center 0 ;
    background-attachment: fixed;
}

#sr-banner-title-wrap {
    height: 450px;
    color: white;
}

.sr-banner-title {
    
    color: white;
}

#sr-banner-title-wrap {
    h1, h2, h3, h4, h5, h6 {
        color: white;
    }
    
    h2, h3 {
        text-transform: uppercase;
    }
}

#sr-banner-title-wrap h1 {
    font-size: 64px;
    margin: 60px 0;
    
    text-shadow: 0 0 5px rgba(0,0,0,0.5);
}

#sr-banner-title-wrap h2 {
    font-size: 32px;
}


// About
// -------------------------------------------------------------
#sr-about article {
    font-size: 16px;
    line-height: 180%;
}


// Members
// -------------------------------------------------------------
#members {
    overflow: hidden;
}

.member-info,
.member-info h3{
    text-transform: uppercase;
}

.member-info {
    position: relative;
}



// Features
// -------------------------------------------------------------
#sr-tech {
    opacity: 0.7;
}


// Works
// -------------------------------------------------------------



// Contact
// -------------------------------------------------------------
#contact-map {
    height: 450px;
}

#sr-contact {
    //margin: 0;
    padding: 0;
    
    position: relative;
}

#sr-contact-body {
    padding: 30px;
    
    float: right;
    
    background: white;
    
    position: absolute;
    right: 0 ;
    bottom: 150px;
    
    //box-shadow: 0 0 5px rgba(0,0,0,0.2)
    border: 1px solid #ccc;
}


// Footer
// -------------------------------------------------------------
#sr-footer {
    padding: 40px 30px;
}



// Parallax scrolling
// -------------------------------------------------------------
#sr-about article img{
    position: relative;
}


