/**
 * SMS Recruit site CSS
 * Author: Asika
 * Date: 2013
 * SMS Taiwan CO. LTD.
 */

div {
    //border: 1px solid #000;
    //margin: -1px;
    //box-sizing: border-box;
}


// Layout
body {
    padding-top: 55px;
    background: #fafafa;
}

.main {
    //max-width: 1000px;
    //margin: 0 auto;
}

.sr-container {
    padding: 65px 30px;
}

section article {
    padding: 30px 0;
}

.bg-white {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    background: white;
}


// Header
#sr-header {
    background: white;
    width: 100%;
    
    position: fixed ;
    top: 0;
    
    border-bottom: 1px solid #eee;
    
    z-index: 100;
}



// Banner
#sr-banner-inner {
    background: url(../images/header.jpg) no-repeat center 0 ;
    background-attachment: fixed;
}

#sr-banner-title-wrap {
    height: 450px;
    color: white;
}

.sr-banner-title {
    
    color: white;
}

#sr-banner-title-wrap h1,
#sr-banner-title-wrap h2 {
    color: white;
}

#sr-banner-title-wrap h1 {
    font-size: 64px;
}

#sr-banner-title-wrap h2 {
    font-size: 32px;
}




// member
.member-info,
.member-info h3{
    text-transform: uppercase;
}



// Contact
#contact-map {
    height: 450px;
}

#sr-contact {
    margin: 0;
    padding: 0;
    
    position: relative;
}

#sr-contact-body {
    padding: 30px;
    
    float: right;
    
    background: white;
    
    position: absolute;
    right: 0 ;
    bottom: 150px;
    
    //box-shadow: 0 0 5px rgba(0,0,0,0.2)
    border: 1px solid #ccc;
}


// Footer
#sr-footer {
    padding: 40px 30px;
}


